<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:utext="${title}"></title>
</head>

<style>
    table th, table td {
        padding: 5px;
    }
    .message {
        color: blue;
    }
</style>

<body>

<!-- Include _menu.html -->
<th:block th:include="/_menu"></th:block>

<h2>Equipments</h2>
<div>
    <a th:href="@{/equipment/equipmentAdd}">Add Equipment</a>
</div>


<table border="1">
    <tr>
        <th>Equipment Name</th>
        <th>Equipment Department</th>
        <th>Equipment Description</th>


    </tr>
    <tr th:each ="equipments : ${equipment}">
        <td th:utext="${equipments.getName()}">...</td>
        <td th:utext="${equipments.getDepartment().getName()}">...</td>
        <td th:utext="${equipments.getDescription()}">...</td>

    </tr>
</table>

</body>
</html>