<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:utext="${title}"></title>
</head>

<body>

<!-- Include _menu.html -->
<th:block th:include="/_menu">

</th:block>

<h2>Список сотрудников</h2>
<div>
    <a th:href="@{/workers/workerAdd}">Добавить сотрудника</a>
</div>

<div class="container">
    <div class="card">
        <div class="card-block">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Фамилия</th>
                    <th>Имя</th>
                    <th>Отчество</th>
                    <th>Департамент</th>
                    <th>Должность</th>
                    <th>Телефон</th>
                    <th>Электронная почта</th>
                    <th>Дата принятия</th>
                    <th>Дата увольнения</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="worker : ${workers}">
                    <td th:utext="${worker.lastName}">...</td>
                    <td th:utext="${worker.firstName}">...</td>
                    <td th:utext="${worker.patronymic}">...</td>
                    <td th:utext="${worker.department.getName()}">...</td>
                    <td th:utext="${worker.positionWorker.getPositionName()}">...</td>
                    <td th:utext="${worker.phone}">...</td>
                    <td th:utext="${worker.email}">...</td>
                    <td th:utext="${worker.dateAccept}">...</td>
                    <td th:utext="${worker.dateFired}">...</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>