<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Successfully registered</title>
    <style>
        span {color: blue;}
    </style>
</head>

<body>

<!-- Include _menu.html -->
<th:block th:include="/_menu"></th:block>

<h2>Сотрудник успешно добавлен!</h2>

<div th:if="${flashUser != null}">
    <ul>
        <li>Фамилия сотрудника: <span th:utext="${flashUser.firstName}">..</span></li>
        <li>Имя сотрудника: <span th:utext="${flashUser.lastName}">..</span></li>
    </ul>
</div>


</body>
</html>