<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:utext="${title}"></title>
</head>

<style>
    table th, table td {
        padding: 5px;
    }
    .message {
        color: blue;
    }
</style>

<body>

<!-- Include _menu.html -->
<th:block th:include="/_menu"></th:block>

<h2>Workers</h2>
<div>
    <a th:href="@{/worker/workerAdd}">Add Workers</a>
</div>


<table border="1">
    <tr>
        <th>Position</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Patronymic</th>
        <th>Department</th>
        <th>Phone</th>
        <th>Email</th>
        <th>DateAccept</th>
        <th>DateFired</th>

    </tr>
    <tr th:each ="workers : ${worker}">
        <td th:utext="${workers.positionName}">...</td>
        <td th:utext="${workers.firstName}">...</td>
        <td th:utext="${workers.lastName}">...</td>
        <td th:utext="${workers.patronymic}">...</td>
        <td th:utext="${workers.department.getName()}">...</td>
        <td th:utext="${workers.phone}">...</td>
        <td th:utext="${workers.email}">...</td>
        <td th:utext="${workers.dateAccept}">...</td>
        <td th:utext="${workers.dateFired}">...</td>
    </tr>
</table>

</body>
</html>