/*https://webref.ru/layout/learn-html-css/box-model
        https://webformyself.com/flexbox-primery-shablony-dlya-sajta-ot-nachala-i-do-konca/
        */

body{
    margin: 0;
}
header {
    /* «включаем» FlexBox режим */
    display: flex;
    /* Размещаем элементы внутри шапки */
    justify-content: space-between;
    /* Выравниваем элементы вертикально посередине*/
    align-items: center;
    background: #595959;

}
/*header button,
header nav {
    display: inline-block;

}*/
/* Кнопка добавить заявку */
#add-ticket {
    border-radius: 10%;
    font-size: 14px;
}

header nav{

    word-spacing: 100%;
    font-size: 150%;
}

header nav a{
    text-decoration: none; /* отменяем подчеркивание у ссылки*/
}
#nav-toggle{

    font-size: 180%;
    border-radius: 100%; /* Радиус скругления */
    /*border: 3px solid green; /* Параметры рамки */
}
footer{
    background-color: aquamarine;
    vertical-align: middle;
}
main{
    background-color: #cccccc;
    flex-direction: column;
}


/*header::after {
    content: '';
    display: inline-block;
    width: 100%;
}*/