<div xmlns:th="http://www.thymeleaf.org"
     style="border: 1px solid #ccc;padding:5px;margin-bottom:20px;"

>

    <header style=" display: flex; /* Размещаем элементы внутри шапки */
    justify-content: space-between;/* Выравниваем элементы вертикально посередине*/
    align-items: center;">

        <a th:href="@{/ticket/addTicket}">
        <input id="add-ticket" type=button value='+ Создать заявку'></a>

        <nav style="word-spacing: 100%;font-size: 150%;">

            <a style=" text-decoration: none;" th:href="@{/}">Заявки</a>

            | &nbsp;

            <a style=" text-decoration: none;" th:href="@{/userInfo}">Оборудование</a>

            | &nbsp;

            <a style=" text-decoration: none;" th:href="@{/admin}">Департаменты</a>

            | &nbsp;

            <a style=" text-decoration: none;" th:href="@{/admin}">Сотрудники</a>

            | &nbsp;

            <a style=" text-decoration: none;" th:href="@{/admin}">Отчеты</a>

            | &nbsp;

            <a style=" text-decoration: none;" th:if="${#request.userPrincipal != null}" th:href="@{/logout}">Logout</a>
        </nav>

        <nav style="word-spacing: 100%;font-size: 150%;">
            <img th:href="@{/static/img/zayavka-ikonka.png}">
            <button id="nav-toggle" href="#">&#9776;</button>
        </nav>
    </header>
</div>