<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:utext="${title}"></title>
</head>
<body>
<!-- Include _menu.html -->
<th:block th:include="/_menu"></th:block>

<h2>Страница администратора</h2>
<h3>Приветствуем :
    <span th:utext="${#request.userPrincipal.name}"></span>
</h3>


<br/><br/>


<div th:if="${userInfo != null}" th:utext="${userInfo}"></div>
<div>
    <a th:href="@{/worker/worker}">Получить список сотрудников</a>
</div>
<div>
    <a th:href="@{/equipment/equipment}">Получить список оборудования</a>
</div>
<div>
    <a th:href="@{/department/department}">Получить список департаментов</a>
</div>

</body>

</html>