<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:utext="${title}"></title>
    <style>
        th, td {
            padding: 5px;
        }
        td span  {
            font-size:90%;
            font-style: italic;
            color: red;
        }
        .error {
            color: red;
            font-style: italic;
        }
    </style>
</head>
<body>
<!-- Include _menu.html -->
<th:block th:include="/_menu"></th:block>

<h2>Register</h2>

<div th:if="${errorMessage != null}"
     th:utext="${errorMessage}" class="error">...</div>

<form th:action="@{/users/}" th:object="${appUserForm}" method="POST">
    <table>
        <tr>
            <td>User Name</td>
            <td><input type="text" placeholder="Enter User Name"  th:field="*{userName}" /></td>
            <td>
                <span th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}">..</span>
            </td>
        </tr>
        <tr>
            <td>Password</td>
            <td><input type="password" th:field="*{encryptedPassword}" /> </td>
            <td>
                <span th:if="${#fields.hasErrors('encryptedPassword')}" th:errors="*{encryptedPassword}">..</span>
            </td>
        </tr>
        <tr>
            <td>Confirm</td>
            <td><input type="password" th:field="*{encryptedPassword}" /> </td>
            <td>
                <span th:if="${#fields.hasErrors('encryptedPassword')}" th:errors="*{encryptedPassword}">..</span>
            </td>
        </tr>
        <tr>
            <td>Enabled User</td>
            <td><input type="text" th:field="*{enabled}" /> </td>
            <td>
                <span th:if="${#fields.hasErrors('enabled')}" th:errors="*{enabled}">..</span>
            </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>
                <input type="submit" value="Submit" />
                <a th:href="@{/}">Cancel</a>
            </td>
            <td>&nbsp;</td>
        </tr>
    </table>
</form>
<table class="table table-striped table-bordered">
    <tr>
        <th>userId</th>
        <th>User Name</th>
        <th>encrypted password</th>
        <th>enabled</th>
        <!--<th>Created At</th>-->
    </tr>
    <tr th:if="${#lists.isEmpty(users)}">
        <td colspan="5">No Records found. Add some...!</td>
    </tr>
    <tr th:each="user : ${users}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.firstName}"></td>
        <td th:text="${user.lastName}"></td>
        <td th:text="${user.role}"></td>
        <td th:text="${user.createdAt}"></td>
    </tr>
</table>
</body>
</html>