<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:utext="${title}"></title>
    <div>
        <!-- this is header-css -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
              crossorigin="anonymous">
    </div>
</head>
<body>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
        integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
        crossorigin="anonymous"></script>
<header>
    <div>
        <!-- Include _menu.html -->
        <th:block th:include="/_menu">

        </th:block>
    </div>

</header>

<main>
    <h2>Создать пользователя</h2>

    <div th:if="${#request.getParameter('error') == 'true'}"
         style="color:red;margin:10px 0px;">
        Пользователь не добавлен!!!<br/>
        Причина :
    </div>
    <div th:if="${errorMessage != null}">
        <br>Пользователь не добавлен!!!
        Причина: <br/>
        <span th:utext="${errorMessage}">
    </span>
    </div>
    <div th:if="${ok != null}">
        <h2>Вы добавили нового пользователя </h2>
        <ul>
            <li>Имя сотрудника: <span th:utext="${appUserRegistrationForm.getUserName()}">..</span></li>
            <li>Пароль: <span th:utext="${appUserRegistrationForm.getPassword()}">..</span></li>
        </ul>
    </div>

    <div>
        <form th:action="@{/web/appusers}" th:object="${appUserRegistrationForm}" method="POST">
            <table>
                <tr>
                    <td>Имя пользователя</td>
                    <td><input type="text" placeholder="Enter User Name" th:field="*{userName}"/></td>
                    <td>
                        <span th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}">..</span>
                    </td>
                </tr>
                <tr>
                    <td>Пароль</td>
                    <td><input type="password" placeholder="Minimum 6 char's" th:field="*{password}"/></td>
                    <td>
                        <span th:if="${#fields.hasErrors('password')}"
                              th:errors="*{password}">..</span>
                    </td>
                </tr>
                <tr>
                    <td>Подтверждение пароля</td>
                    <td><input type="password" th:field="*{confirmPassword}"/></td>
                    <td>
                        <span th:if="${#fields.hasErrors('confirmPassword')}"
                              th:errors="*{confirmPassword}">..</span>
                    </td>
                </tr>
                <tr>
                    <td>Пользователь активен</td>
                    <td><input type="checkbox" th:field="*{enabled}"/></td>
                    <td>
                        <span th:if="${#fields.hasErrors('enabled')}" th:errors="*{enabled}">..</span>
                    </td>
                </tr>
                <tr>
                    <td>Выберите права доступа сотрудника:</td>
                    <td>
                        <select th:name="appRole" th:field="*{appRole}" >
                            <option th:each="appRole : ${appRoles}"
                                    th:value="${appRole.appRoleId}"
                                    th:text="${appRole.roleName}">
                            </option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="submit" th:value="Создать"/>
                        <button><a th:href="@{/}">Отмена</a></button>
                    </td>
                </tr>

            </table>
        </form>
    </div>
    <div>
        <h2>Описание ролей</h2>
        <div th:each="appRole : ${appRolesEnum}">
            <span th:value="${appRole}" th:text="${appRole.label}"> Role</span>
        </div>
    </div>
</main>
</body>
</html>