<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:utext="${title}"></title>
    <div>
        <!-- this is header-css -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
              crossorigin="anonymous">
    </div>
</head>
<body>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
        integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
        crossorigin="anonymous"></script>
<header>
    <div>
        <!-- Include _menu.html -->
        <th:block th:include="/_menu">

        </th:block>
    </div>
</header>

<main>
    <h2>Register</h2>

    <div th:if="${errorMessage != null}"
         th:utext="${errorMessage}" class="error">...
    </div>

    <div th:if="${ok != null}">
        <h2>Вы добавили нового пользователя </h2>
        <ul>
            <li>Имя сотрудника: <span th:utext="${appUserForm.getUserName()}">..</span></li>
            <li>Пароль: <span th:utext="${appUserForm.getPassword()}">..</span></li>
        </ul>
    </div>

    <div>
        <form th:action="@{/web/appusers/}" th:object="${appUserForm}" method="POST">
            <table>
                <tr>
                    <td>User Name</td>
                    <td><input type="text" placeholder="Enter User Name" th:field="*{userName}"/></td>
                    <td>
                        <span th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}">..</span>
                    </td>
                </tr>
                <tr>
                    <td>Password</td>
                    <td><input type="password" th:field="*{password}"/></td>
                    <td>
                        <span th:if="${#fields.hasErrors('password')}"
                              th:errors="*{password}">..</span>
                    </td>
                </tr>
                <tr>
                    <td>Confirm</td>
                    <td><input type="password" th:field="*{password}"/></td>
                    <td>
                        <span th:if="${#fields.hasErrors('password')}"
                              th:errors="*{password}">..</span>
                    </td>
                </tr>
                <tr>
                    <td>Enabled User</td>
                    <td><input type="checkbox" th:field="*{enabled}"/></td>
                    <td>
                        <span th:if="${#fields.hasErrors('enabled')}" th:errors="*{enabled}">..</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="submit" value="Submit"/>
                        <button><a th:href="@{/}">Cancel</a></button>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</main>
</body>
</html>