<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/Header.css" >
    <title>Title</title>
</head>
<body>
<header>

    <button id="add-ticket">+ Подать заявку</button>

    <nav>
        <a href=""><img src="../static/img/zayavka-ikonka.png">Заявки</a>
        <a href="">Оборудование</a>
        <a href="">Департаменты</a>
        <a href="">Сотрудники</a>
    </nav>
    <nav>
    <button id="nav-toggle" href="#">&#9776;</button>
    </nav>
</header>
<main>

</main>

<footer >
<h2>HEllo</h2>
</footer>
</div>

</body>
</html>