<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User Info</title>
</head>
<body>
<!-- Include _menu.html -->
<th:block th:include="/_menu"></th:block>


<h2>Пользователь</h2>
<h3>Приветствуем : <span th:utext="${#request.userPrincipal.name}"></span></h3>

<br/><br/>

<div th:if="${userInfo != null}" th:utext="${userInfo}"></div>
<div> <a th:href="@{/report/reportAdd}">Добавить отчет</a></div>
<div> <a th:href="@{/report/report}">Показать все отчеты</a></div>
</body>

</html>