<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:if="${#request.getParameter('error') == 'true'}"
     style="color:red;margin:10px 0px;">
    Тикет не добавлен!!!<br/>
    Причина :
    <span th:utext="${#session.getAttribute('error').message}">
                Static summary
         </span>

</div>
<h2>Форма подачи заявки</h2>

<form th:action="@{/web/tickets}" th:object="${ticketForm}" method="POST">
    <table>
        <tr>
            <td>Описание заявки</td>
            <td><input type="text" th:field="*{ticketDescription}" /></td>
            <td>
                <span th:if="${#fields.hasErrors('ticketDescription')}" th:errors="*{ticketDescription}">..</span>
            </td>
        </tr>

        <tr>
            <td>Департамент</td>
            <td>
                <select th:field="*{clientDepartment}">
                    <option value=""> -- </option>
                    <option th:each="departments : ${listDepartment}"
                            th:value="${departments.getId()}"
                            th:utext="${departments.getName()}"></option>
                </select>
            <td><span th:if="${#fields.hasErrors('clientDepartment')}" th:errors="*{clientDepartment}">..</span></td>
        </tr>
        <tr>
            <td>Дата подачи заявки</td>
            <td><input type="date" th:field="*{startDateTicket}" /> </td>
            <td>
                <span th:if="${#fields.hasErrors('startDateTicket')}" th:errors="*{startDateTicket}">..</span>
            </td>
        </tr>
        <tr>
            <td>Дата окончания заявки</td>
            <td><input type="date" th:field="*{endDateTicket}" /> </td>
            <td>
                <span th:if="${#fields.hasErrors('endDateTicket')}" th:errors="*{endDateTicket}">..</span>
            </td>
        </tr>

        <tr>
            <td>Оборудование</td>
            <td>
                <select th:field="*{equipment}">
                    <option value=""> -- </option>
                    <option th:each="equipment : ${listEquipment}"
                            th:value="${equipment.getId()}"
                            th:utext="${equipment.getName()}"></option>
                </select>
            <td><span th:if="${#fields.hasErrors('equipment')}" th:errors="*{equipment}">..</span></td>
        </tr>
        <tr>
            <td>Client</td>
            <td>
                <select th:field="*{workers}">
                    <option value=""> -- </option>
                    <option th:each="worker, row : ${listWorkers}"
                            th:value="${worker.getId()}"
                            th:utext="${worker.getFirstName()}"></option>
                </select>
            <td><span th:if="${#fields.hasErrors('workers')}" th:errors="*{workers}">..</span></td>
        </tr>
        <tr>
            <td>Статус оборудования: </td>
            <td>
                <select th:field="*{status}">
                    <option value=""> -- </option>
                    <option th:each="status : ${listStatus}"
                            th:value="${status.getId()}"
                            th:utext="${status.getStatusName()}"></option>
                </select>
            <td><span th:if="${#fields.hasErrors('status')}" th:errors="*{status}">..</span></td>
        </tr>
        <tr>
            <td>Приоритет заявки: </td>
            <td>
                <select th:field="*{priorityTicket}">
                    <option value=""> -- </option>
                    <option th:each="priority : ${listPriority}"
                            th:value="${priority.getId()}"
                            th:utext="${priority.getPriorityName()}"></option>
                </select>
            <td><span th:if="${#fields.hasErrors('priorityTicket')}" th:errors="*{priorityTicket}">..</span></td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>
                <input type="submit" value="Добавить заявку" />
                <a th:href="@{/}">Отмена</a>
            </td>
            <td>&nbsp;</td>
        </tr>
    </table>
</form>
</body>
</html>