<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<footer>
<!-- Include _menu.html -->
<th:block th:insert="/_menu">

</th:block>
</footer>
<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
        Dropdown button
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" th:href="@{/web/tickets}">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
    </ul>
</div>
<div th:if="${#request.getParameter('error') == 'true'}"
     style="color:red;margin:10px 0px;">
    Ошибка добавления заявки!!!<br />
    Причина :
    <span th:if="${#session!= null and #session.getAttribute('error') != null}"
          th:utext="${#session.getAttribute('error').message}">
                Static summary
         </span>

</div>
<div class="container">
    <div class="card">
        <div class="card-block">
            <table class="table table-hover">
                <thead>
                 <tr>
                     <th>Номер заявки</th>
                     <th>Тема заявки</th>
                     <th>Департамент</th>
                     <th>Дата подачи</th>
                     <th>Дата окончания</th>
                     <th>Наименование оборудования</th>
                     <th>Исполнитель</th>
                     <th>Статус</th>
                 </tr>
                </thead>
                <tbody>
                <tr th:each ="ticket : ${tickets}">
                    <td th:utext="${ticket.getId()}">...</td>
                    <td th:utext="${ticket.getTicketDescription()}">...</td>
                    <td th:utext="${ticket.getClientDepartment().name}">...</td>
                    <td th:utext="${ticket.getStartDateTicket()}">...</td>
                    <td th:utext="${ticket.getEndDateTicket()}">...</td>
                    <td th:utext="${ticket.getEquipment().getName()}">...</td>
                    <td th:utext="${ticket.getClient().getFirstName()}">...</td>
                    <td th:utext="${ticket.getStatus().getStatusName()}">...</td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>

</div>


</body>
</html>