<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <div>
        <!-- this is header-css -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
              crossorigin="anonymous">
    </div>
</head>
<body>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
        integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
        crossorigin="anonymous"></script>

<main>
    <form th:action="@{/web/ticket/update/{id}(id=${ticket.getId()})}" th:object="${ticket}" th:method="put">
        <div>
            <div class="container">
                <table>
                    <tr>
                        <td>
                            <label>Ticket Id</label>
                        </td>
                        <td>
                            <input readonly=readonly th:field="*{id}" id="id" placeholder="*{getId()}">
                        </td>
                        <td>
                            <span th:if="${#fields.hasErrors('id')}" th:errors="*{id}"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Описание заявки</label>
                        </td>
                        <td>
                            <input type="text" th:field="*{ticketDescription}" id="ticketDescription" placeholder="*{getTicketDescription()}">
                        </td>
                        <td>
                            <span th:if="${#fields.hasErrors('ticketDescription')}" th:errors="*{ticketDescription}"></span>
                        </td>
                    </tr>
                    <!-- <label for="email">Email</label>
                     <input type="text" th:field="*{email}" id="email" placeholder="Email">
                     <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>


                                 <tr>
                                     <td><span th:utext="*{getId()}">...</span></td>
                                     <td><span th:utext="${ticket.getTicketDescription()}">...</span></td>
                                     <td><span th:utext="${ticket.getClientDepartment().name}">...</span></td>
                                     <td><span th:utext="${ticket.getClientDepartment().getName()}"></span></td>
                                     <td><span th:utext="${ticket.getEquipment().getName()}">...</span></td>
                                     <td><span th:utext="${ticket.getPriorityTicket().getPriorityName()}">...</span></td>
                                     <td><span th:utext="${ticket.getStatusTicket().getStatusName()}">...</span></td>
                                     <td><span th:utext="${ticket.getStartDateTicket()}">...</span></td>
                                     <td><span th:utext="${ticket.getEndDateTicket()}">...</span></td>
                                 </tr>
                                 </tbody>
                             </table>
                             -->
                    <input type="submit" value="Update User">
                </table>
            </div>
        </div>
    </form>
</main>
</body>
</html>