<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
        <table th:fragment="departmentsTable">
            <thead>
            <tr>
                <th> Department</th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${#lists.isEmpty(departments)}">
                <td colspan="2"> No Departments Available</td>
            </tr>
            <tr th:each="department : ${departments}">
                <td><span th:text="${department.getName()}"> Name </span></td>
            </tr>
            </tbody>
        </table>
</body>
</html>