<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<main>
    <div th:if="${#request.getParameter('error') == 'true'}"
         style="color:red;margin:10px 0px;">
        Департамент не добавлен!!!<br/>
        Причина :
        <span th:utext="${#session.getAttribute('nameError').message}">
                Static summary
         </span>

    </div>
    <div>
        <!-- INPUT-->
        <form th:action="@{/departments}" th:object="${departmentForm}" method="POST">
            <table>
                <tr>
                    <td>Название департамента</td>
                    <td><input type="text" th:field="*{name}"/></td>
                    <td>
                        <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}">..</span>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <input type="submit" value="Добавить департамент"/>
                        <a th:href="@{/}">Отмена</a>
                    </td>
                    <td></td>
                </tr>
            </table>
        </form>
    </div>
    <div>
        <form th:action="@{/departments}" th:object="${departments}" method="GET">
            <table>
                <thead>
                <tr>
                    <th> Department</th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${#lists.isEmpty(departments)}">
                    <td colspan="2"> No Departments Available</td>
                </tr>
                <tr th:each="department : ${departments}">
                    <td><span th:text="${department.getName()}"> Name </span></td>
                </tr>
                </tbody>
            </table>
        </form>
    </div>

</main>
</body>
</html>