<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:utext="${title}"></title>
</head>

<body>
<header>
    <div>
        <!-- Include _menu.html -->
        <th:block th:insert="/_menu">

        </th:block>
    </div>
</header>
<main>
    <h2>Департаменты</h2>
    <div>
        <a th:href="@{departments/createDepartment}">Добавить департамент</a>
    </div>
    <div class="container">
        <div class=" = row">
            <div class="col-lg-10 mt-5 mb-5">
                <table id="departments" class="table table-bordered table-responsive-sm">
                    <thead>
                    <tr>
                        <th>Название департамента</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="department : ${departments.page}">
                        <td><span th:text="${department.getId()}"> ID</span> </td>
                        <td><span th:text="${department.getName()}"> Name </span></td>
                    </tr>
                    </tbody>
                </table>

    </div>
</main>
</body>
</html>