<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:utext="${title}"></title>
</head>

<body>
<header>
    <div>
        <!-- Include _menu.html -->
        <th:block th:insert="/_menu">

        </th:block>
    </div>
</header>
<main>
    <h2>Департаменты</h2>
    <div>
        <a th:href="@{/departments/createDepartment}">Добавить департамент</a>
    </div>
    <div>
        <form th:action="@{/departments}" th:object="${departments}" method="GET">
            <div th:insert="~{department/_departmentsTable :: departmentsTable}"></div>
        </form>
    </div>
</main>
</body>
</html>